@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  display: flex;
  font-size: 30px;
}
body h2 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 10px;
}

.menu {
  border: 3px solid red;
  padding: 20px;
  flex: 0 1 10%;
}
.menu li {
  margin-bottom: 20px;
}

main {
  margin-left: 50px;
}
main p {
  margin-bottom: 50px;
}

.stext {
  color: blue;
  font-weight: bold;
}

.block {
  display: none;
}
.block:target {
  display: block;
}